<button class="btn" (click)="addingUser = true">Register</button>
<div *ngIf="addingUser">
  <div class="container">

    <h3>Sign Up</h3>

    <div class="form-group">
      <label>Name:</label>
      <input #userName class="form-control">
    </div>

    <div class="form-group">
      <label>email:</label>
      <input #userEmail class="form-control">
    </div>

    <div class="form-group">
      <label>City:</label>
      <input #userCity class="form-control">
    </div>

    <div class="form-group">
      <label>State:</label>
      <input #userState class="form-control">
    </div>

    <button class="btn" (click)="submitUserForm(userName.value, userEmail.value, userCity.value, userState.value)">Submit</button>
  </div>
</div>
