<button class="btn" (click)="addingUser = true">Register</button>
<div *ngIf="addingUser">
  <div class="container">

  <h3>Sign Up</h3>
  <div class="row">
    <div class="col-sm-4">
      <label>Name: </label>
    </div>
    <div class="col-sm-8">
      <input #userName>
    </div>

    <div class="col-sm-4">
      <label>email: </label>
    </div>
    <div class="col-sm-8">
      <input #userEmail>
    </div>

    <div class="col-sm-4">
      <label>City: </label>
    </div>
    <div class="col-sm-8">
      <input #userCity>
    </div>

    <div class="col-sm-4">
      <label>State: </label>
    </div>
    <div class="col-sm-8">
      <input #userState>
    </div>

  </div>
  <button class="btn" (click)="submitUserForm(userName.value, userEmail.value, userCity.value, userState.value)">Submit</button>
</div>

  </div>
</div>
