<nav class="navbar navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1><a class="logo" routerLink="">QuasiEtsy</a></h1>
    </div>
    <form class="form-inline my-8 my-lg-0">
      <input class="form-control mr-sm-0" type="search" placeholder="Search for items" aria-label="Search">
      <button class="btn btn-outline my-2 my-sm-0 orange" type="submit">Search</button>
    </form>
    <div class="links">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="">Listings</a></li>
        <li><a routerLink="new">Create a new listing</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand bg-light categories">
  <ul class="navbar-nav nav-justified">
    <li><a routerLink="category/Jewelry and Accessories">Jewelry & Accessories cat comp</a></li>
    <li class="nav-item" (click)="filterByCategory = ''">View All</li>
    <li class="nav-item" (click)="filterByCategory = 'Jewelry and Accessories'">Jewelry & Accessories</li>
    <li class="nav-item" (click)="filterByCategory = 'Clothing and Shoes'">Clothing & Shoes</li>
    <li class="nav-item" (click)="filterByCategory = 'Home and Living'">Home & Living</li>
    <li class="nav-item" (click)="filterByCategory = 'Wedding and Party'">Wedding & Party</li>
    <li class="nav-item" (click)="filterByCategory = 'Toys and Entertainment'">Toys & Entertainment</li>
    <li class="nav-item" (click)="filterByCategory = 'Art and Collectibles'">Art & Collectibles</li>
    <li class="nav-item" (click)="filterByCategory = 'Craft Supplies and Tools'">Craft Supplies & Tools</li>
    <li class="nav-item" (click)="filterByCategory = 'Vintage'">Vintage</li>
  </ul>
</nav> -->

<nav class="navbar navbar-expand-sm bg-light categories">
  <ul class="navbar-nav nav-justified">
    <li><a routerLink="category/Jewelry and Accessories">Jewelry & Accessories</a></li>
    <li><a routerLink="category/Clothing and Shoes">Clothing & Shoes</a></li>
    <li><a routerLink="category/Home and Living">Home & Living</a></li>
    <li><a routerLink="category/Wedding and Party">Wedding & Party</a></li>
    <li><a routerLink="category/Toys and Entertainment">Toys & Entertainment</a></li>
    <li><a routerLink="category/Art and Collectibles">Art & Collectibles</a></li>
    <li><a routerLink="category/Craft Supplies and Tools">Craft Supplies & Tools</a></li>
    <li><a routerLink="category/Vintage">Vintage</a></li>
  </ul>
</nav>

<div class="container">

  <router-outlet></router-outlet>

</div>
