<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand logo" routerLink="">Quasi-Etsy</a>
    </div>
    <div class="links">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="">Listings</a></li>
        <li><a routerLink="new">Create a new listing</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
<h1 class="logo">{{ title }}</h1>

  <router-outlet></router-outlet>

</div>
