<p>
  marketplace works!
</p>
<h2>Listings</h2>
<!-- <div class="footer-clearance"> -->
  <div *ngFor="let listing of listings | async" class="card card-default">
    <div class="card-body">
      <h3 (click)="goToDetailPage(listing)"><em>{{listing.description}}</em> by {{listing.category}}</h3>{{listing.$key}}
      <!-- <div *ngIf="currentRoute === '/admin'">
        {{listing.description}}
        <hr>
        <app-edit-listing [selectedListing]="listing"></app-edit-listing>
      </div> -->
    </div>
  </div>
<!-- </div> -->
