<br>

<nav class="navbar navbar-expand-sm bg-light categories">
  <ul class="navbar-nav">
    <li class="nav-item" (click)="filterByCategory = 'Jewelry and Accessories'">Jewelry & Accessories
      <a class="nav-link" href="#">Jewelry & Accessories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Clothing & Shoes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Home & Living</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Wedding & Party</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Toys & Entertainment</a>
    </li>
    <li class="nav-item" (click)="filterByCategory = 'Art and Collectibles'">Art & Collectibles
      <a class="nav-link" href="#">Art & Collectibles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Craft Supplies & Tools</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Vintage</a>
    </li>
  </ul>
</nav>

<div class="row">
  <div *ngFor="let listing of listings | async | category:filterByCategory" (click)="goToDetailPage(listing)" class="col-sm-6 col-md-4 col-lg-3 listing">
    <img class="card-img-top resize" src="{{listing.image}}" alt="{{listing.description}}">
    <div class="card-body">
      <h5 class="card-text">{{listing.description}}</h5>
      <div class="card-text">{{listing.shop}}</div>
      <div class="card-text">${{listing.price}}.00</div><br>
    </div>
  </div>
</div>
