li {
  list-style: none;
}

.logo {
  font-family: "Guardian-egyptt", Georgia;
  color: #F56400;
}

.orange {
  background-color: #F56400;
  color: white;
}

.btn-orange {
  color: white;
}

.btn-orange,
.btn-orange:hover,
.btn-orange:active,
.btn-orange:visited,
.btn-orange:focus {
    background-color: #F56400;
    border-color: #F56400;
}
