<p>
  new-listing works!
</p>

<div class="form-group">
  <label>Image URL:</label>
  <input #listingImage class="form-control">
</div>

<div class="form-group">
  <label>Description:</label>
  <input #listingDescription class="form-control">
</div>

<div class="form-group">
  <label>Category:</label>
  <select class="form-control" #listingCategory>
    <option value="Jewelry and Accessories">Jewelry and Accessories</option>
    <option value="Clothing and Shoes">Clothing and Shoes</option> -->
    <option value="Home and Living">Home and Living</option>
    <option value="Wedding and Party">Wedding and Party</option>
    <option value="Toys and Entertainment">Toys and Entertainment</option>
    <option value="Art and Collectibles">Art and Collectibles</option>
    <option value="Craft Supplies and Tools">Craft Supplies and Tools</option>
    <option value="Vintage">Vintage</option>
  </select>
</div>

<div class="form-group">
  <label>Price:</label>
  <input #listingPrice class="form-control" type="number" min=1>
</div>

<div class="form-group">
  <label>Shipping Time Frame:</label>
  <input #listingShipping class="form-control">
</div>

<button class="btn" (click)="submitListingForm(listingImage.value, listingDescription.value, listingCategory.value, listingPrice.value, listingShipping.value)">Submit</button>
