<p>
  listing-list works!
</p>

<ul>
  <li *ngFor="let currentListing of childListingList">{{currentListing.description}}</li>
</ul>

<div class="container">
  <div class="container-flex">
    <ul class="card-block">
      <li *ngFor="let currentListing of childListingList"><div class="card card-block" style="width:300px">
        <img class="card-img-top resize" src={{currentListing.image}} alt={{currentListing.description}}>
        <div class="card-body">
          <h6 class="card-title">{{currentListing.title}}</h6><br>
          <p>ShopNameHere</p>
          <p>{{currentListing.feedback}}</p>
          <p>${{currentListing.price}}.00</p>
        </div>
      </div><br>
      </li>
    </ul>
  </div>
</div>
