<!-- <div class="container">
  <div class="container-flex">
    <ul class="card-block">
      <li *ngFor="let currentListing of childListingList"><div class="card card-block" style="width:300px">
        <img class="card-img-top resize" src={{currentListing.image}} alt={{currentListing.description}}>
        <div class="card-body">
          <p class="card-title">{{currentListing.title}}</p>
          <p class="card-text">ShopNameHere</p><br>
          <p class="card-text">{{currentListing.description}}</p><br>
          <p class="card-text">{{currentListing.feedback}}</p><br>
          <p class="card-text">${{currentListing.price}}.00</p>
        </div>
      </div>
      </li>
    </ul>
  </div>
</div> -->
